<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ ~ Copyright (c) 2018-2025, lengleng All rights reserved. ~ ~ Redistribution 
	and use in source and binary forms, with or without ~ modification, are permitted 
	provided that the following conditions are met: ~ ~ Redistributions of source 
	code must retain the above copyright notice, ~ this list of conditions and 
	the following disclaimer. ~ Redistributions in binary form must reproduce 
	the above copyright ~ notice, this list of conditions and the following disclaimer 
	in the ~ documentation and/or other materials provided with the distribution. 
	~ Neither the name of the pig4cloud.com developer nor the names of its ~ 
	contributors may be used to endorse or promote products derived from ~ this 
	software without specific prior written permission. ~ Author: lengleng (wangiegie@gmail.com) 
	~ -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bifangan.dmDemo.mapper.ElectricMapper">

	<select id="selectElectricList" resultType="com.bifangan.dmDemo.entity.Electric">
		SELECT
		id,
		device_id AS deviceId,
		controller_id AS controllerId,
		`name`,
		connect,
		sn
		FROM
		`t_device`
	</select>
	<select id="electricLinesByDid" resultType="com.bifangan.dmDemo.entity.ElectricLine">
		SELECT
		id,
		line_id AS lineId,
		line_no AS lineNo,
		line_version AS lineVersion,
		line_status AS lineStatus,
		`name`
		FROM
		`t_line`
		WHERE
		did = #{did}
	</select>
	<select id="electricLineList" resultType="com.bifangan.dmDemo.entity.ElectricLine">
		SELECT
		a.id,
		a.line_id AS lineId,
		a.line_status AS lineStatus,
		a.status,
		b.`name` as dname
		FROM
		`t_line` a
		LEFT JOIN
		t_dept b
		ON a.dept_id = b.id
	</select>
	<select id="getControllerIdAndLineNoByDeptId" resultType="com.bifangan.dmDemo.entity.ControllerIdAndLineNo">
		SELECT
		a.line_no as lineNo,
		b.controller_id AS controllerId
		FROM
		`t_line` a
		LEFT JOIN
		t_device b
		ON a.did = b.id
		where
		a.dept_id = #{deptId}
	</select>
	<select id="selectLineByLineId" resultType="com.bifangan.dmDemo.entity.ElectricLine">
		SELECT
		id,
		line_id AS lineId,
		line_no AS lineNo,
		line_version AS lineVersion,
		line_status AS lineStatus,
		`name`
		FROM
		`t_line`
		WHERE
		line_id = #{lineId}
	</select>
	<update id="updateLineStatusByLineId" parameterType="string">
		update t_line
		set line_status = 0
		where line_id = #{lineId}
	</update>
	<update id="updateStatusByDeptId" parameterType="com.bifangan.dmDemo.entity.ElectricLine">
		update t_line
		set status = #{status}
		where dept_id = #{deptId}
	</update>
	<insert id="insertLineRealtiming" parameterType="com.bifangan.dmDemo.entity.ElectricLine">
	   INSERT INTO t_line_realtimingdata (id,lid,voltage,current,temp,leakage,power,status,energy,append_time) VALUES (#{id},#{lid},#{voltage},#{current},#{temp},#{leakage},#{power},#{status},#{energy},#{appendTime})
	</insert>
	<select id="lineRealtimingdataByLineId" resultType="com.bifangan.dmDemo.entity.ElectricLine">
		SELECT
		id,
		lid,
		voltage,
		current,
		temp,
		leakage,
		power,
		`status`,
		IFNULL(energy,0) as energy,
		append_time as appendTime
		FROM
		`t_line_realtimingdata`
		WHERE
		lid = #{lid} and to_days(append_time) = to_days(now())
	</select>
</mapper>
