<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bifangan.dmDemo.mapper.TFaceDeviceMapper">

  <resultMap id="tFaceDeviceMap" type="com.bifangan.dmDemo.entity.TFaceDevice">
                  <id property="id" column="id"/>
                        <result property="ip" column="ip"/>
                        <result property="subMask" column="sub_mask"/>
                        <result property="gatewayaddress" column="gatewayaddress"/>
                        <result property="serverIp" column="server_ip"/>
                        <result property="serverPort" column="server_port"/>
                        <result property="custNum" column="cust_num"/>
                        <result property="deviceArea" column="device_area"/>
                        <result property="ntpServerIp" column="ntp_server_ip"/>
                        <result property="deviceAlias" column="device_alias"/>
                        <result property="isDhcpServer" column="is_dhcp_server"/>
                        <result property="passageTime" column="passage_time"/>
            </resultMap>
</mapper>
